<div class="top-logo">
  <h1>Talks</h1>
</div>

<div class="top-content">
  <h2>
    <span>About </span>
    <span class="content-logo">Talks</span>
  </h2>
  <p>
    TalksはRuby on Railsの練習用に作ったつぶやきアプリです。<br>
    140文字以内で自由に誰でも匿名でつぶやくことができます。<br>
    みなさん是非つぶやいていってください。
  </p>
</div>
