.confirm-title {
  text-align: center;
  font-weight: bold;
}

.confirm-content {
  text-align: center;
}

.confirm-content p {
  padding: 20px 0px;
  font-size: 3rem;
}

.confirm-content .talkbtn {
  margin: 20px;
}

.confirm-content .backbtn {
  margin: 20px;
}
