.index-title {
  text-align: center;
  padding-top: 30px;
}

.index-title h1 {
  font-weight: bold;
}

.index-notice {
  text-align: center;
  padding: 20px 0px 40px;
}

.index-notice p {
  color: royalblue;
  font-size: 2rem;
  font-weight: bold;
}

.index-content {
  padding: 0px 50px;
}

.index-speech {
  font-size: 3rem;
}

.index-editbtn {
  float: right;
  margin-right: 5px;
}

.index-deletebtn {
  float: right;
}
